.header {
    width: 100%;
    display: flex;
    background-color: purple;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.header-icon img {
    width: 70px;
    height: 70px;
}

.header-text {
    margin-left: 30px;

}

@media screen and (max-width:480px) {
    .header {
        width: 100%;
    }
}